@model IEnumerable<doAnChuyenNghanh02.Models.NHANVIEN>
@using doAnChuyenNghanh02.Models;
@{
    MotoDBContext dBContext = new MotoDBContext();
    List<PHONGBAN> phongbban = dBContext.PHONGBANs.ToList();
    List<CHUCVU> chucvvu = dBContext.CHUCVUs.ToList();
}
@{
    ViewBag.Title = "Danh sách nhân viên";
}

<h2 style="margin-top:20px">Danh sách nhân viên</h2>

<button type="button" style="float: right" class="btn btn-default" onclick="hienkhungthem()">Thêm nhân viên</button>
<div style="display: block; justify-content: center; margin-right: 20px">

    <!--Bảng nhân viên-->
    <table class="table" style="z-index:1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Họ tên</th>
                <th>Giới tính</th>
                <th>Chức vụ</th>
                <th>Phòng ban</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nhanvien in Model)
            {
                <tr>
                    <td >@nhanvien.IDNV</td>
                    <td>@nhanvien.TENNV</td>
                    <td>@nhanvien.GIOITINH</td>
                    <td>@(nhanvien.CHUCVU != null ? nhanvien.CHUCVU.TENCHUCVU : "N/A")</td>
                    <td>@(nhanvien.PHONGBAN != null ? nhanvien.PHONGBAN.TENPB : "N/A")</td>
                    <td>
                        <button type="button" class="btn btn-default"
                                onclick="hienkhungct('@nhanvien.IDNV', '@nhanvien.TENNV', '@nhanvien.NGAYSINH', '@nhanvien.GIOITINH','@nhanvien.DIACHI', '@nhanvien.EMAIL', '@nhanvien.DIENTHOAI', '@nhanvien.CHUCVU.TENCHUCVU', '@nhanvien.PHONGBAN.TENPB')">
                            Chi tiết
                        </button>
                        <button type="button" class="btn btn-default"
                                onclick="hienkhungcn('@nhanvien.IDNV', '@nhanvien.TENNV', '@nhanvien.NGAYSINH', '@nhanvien.GIOITINH','@nhanvien.DIACHI', '@nhanvien.EMAIL', '@nhanvien.DIENTHOAI', '@nhanvien.CHUCVU.TENCHUCVU', '@nhanvien.PHONGBAN.TENPB')">
                            Cập nhật
                        </button>
                        <a class="btn btn-default" href="@Url.Action("DeleteNV", "NhanVien", new {idnv = nhanvien.IDNV})">Xóa</a>


                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Khung chi tiết nhân viên -->
<div id="khungct" class="khungchitiet">
    <div style="width: 496px; background-color: #ccc; height: 20px; z-index: 3">
        <button onclick="dongkhungct()" type="button" style="float:right; padding-right:10px; padding-left:10px">X</button>
    </div>
    <h3 class="text-center">Thông tin nhân viên</h3>


    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label class="control-label col-md-4">Mã Nhân Viên</label>
            <div class="col-sm-8">
                <input name="detail_idnv" class="form-control" readonly />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Tên nhân viên</label>
            <div class="col-sm-8">
                <input name="detail_tennv" class="form-control" readonly />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Ngày sinh</label>
            <div class="col-sm-8">
                <input name="detail_ngaysinh" class="form-control" readonly />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Giới tính</label>
            <div class="col-sm-8">
                <input name="detail_gioitinh" class="form-control" readonly />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Địa chỉ</label>
            <div class="col-sm-8">
                <input name="detail_diachi" class="form-control" readonly />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Điện thoại</label>
            <div class="col-sm-8">
                <input name="detail_dienthoai" class="form-control" readonly />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Email</label>
            <div class="col-sm-8">
                <input name="detail_email" class="form-control" readonly />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Chức vụ</label>
            <div class="col-sm-8">
                <input name="detail_chucvu" class="form-control" readonly />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">Phòng ban</label>
            <div class="col-sm-8">
                <input name="detail_phongban" class="form-control" readonly />

            </div>
        </div>
    </div>




</div>
<!-- Khung cập nhật nhân viên -->
<div id="khungcn" class="khungcapnhat">
    <div style="width: 496px; background-color: #ccc; height: 20px; z-index: 3">
        <button onclick="dongkhungcn()" type="button" style="float:right; padding-right:10px; padding-left:10px">X</button>
    </div>
    <h3 class="text-center">Cập nhật nhân viên</h3>
    @using (Html.BeginForm("UpdateNV", "NhanVien", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-4">Mã Nhân Viên</label>
                <div class="col-sm-8">
                    <input name="idnv1" class="form-control" readonly />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Tên nhân viên</label>
                <div class="col-sm-8">
                    <input name="tennv1" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Ngày sinh</label>
                <div class="col-sm-8">
                    <input name="ngaysinh1" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Giới tính</label>
                <div class="col-sm-8">
                    <input name="gioitinh1" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Địa chỉ</label>
                <div class="col-sm-8">
                    <input name="diachi1" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Điện thoại</label>
                <div class="col-sm-8">
                    <input name="dienthoai1" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Email</label>
                <div class="col-sm-8">
                    <input name="email1" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Chức vụ</label>
                <div class="col-sm-8">
                    <input name="chucvu1" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Phòng ban</label>
                <div class="col-sm-8">
                    <input name="phongban1" class="form-control" />

                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-info" style="float: right">Cập nhật</button>

    }
</div>
<!--Khung thêm nhân viên-->
<div id="khungthem" style="width:500px; height:570px; z-index: 2; border: 2px solid black; display:none; position: relative; z-index:2; left:35%; margin-top:-30%; background-color:white">
    <div style="width: 496px; background-color: #ccc; height: 20px; z-index: 3">
        <button onclick="dongkhungthem()" type="button" style="float:right; padding-right:10px; padding-left:10px">X</button>
    </div>
    <h3 class="text-center">Cập nhật nhân viên</h3>
    @using (Html.BeginForm("CreateNV", "NhanVien", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-4">Tên nhân viên</label>
                <div class="col-sm-8">
                    <input name="tennv" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Ngày sinh</label>
                <div class="col-sm-8">
                    <input name="ngaysinh" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Giới tính</label>
                <div class="col-sm-8">
                    <input name="gioitinh" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Địa chỉ</label>
                <div class="col-sm-8">
                    <input name="diachi" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Điện thoại</label>
                <div class="col-sm-8">
                    <input name="dienthoai" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Email</label>
                <div class="col-sm-8">
                    <input name="email" class="form-control" />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Chức vụ</label>
                <div class="col-sm-8">
                    <select name="chucvu">
                        @{
                            foreach (var item in chucvvu)
                            {
                                <option value="@item.IDCV">@item.TENCHUCVU</option>
                            }

                        }

                    </select>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Phòng ban</label>
                <div class="col-sm-8">
                    <select name="phongban">
                        @{
                            foreach (var item in phongbban)
                            {
                                <option value="@item.IDPHONGBAN">@item.TENPB</option>
                            }

                        }

                    </select>

                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-info" style="float: right">Thêm Nhân Viên</button>

    }
</div>
<script>
    // Function to show the detail modal
    function hienkhungct(idnv, tennv, ngaysinh, gioitinh, diachi, email, dienthoai, chucvu, phongban) {
        const khungct = document.getElementById("khungct");
        khungct.style.display = "block";

        // Check if gioitinh is a boolean or a string representation of boolean


        document.getElementsByName("detail_idnv")[0].value = idnv;
        document.getElementsByName("detail_tennv")[0].value = tennv;
        document.getElementsByName("detail_chucvu")[0].value = chucvu;
        document.getElementsByName("detail_ngaysinh")[0].value = ngaysinh;
        document.getElementsByName("detail_gioitinh")[0].value = gioitinh;
        document.getElementsByName("detail_diachi")[0].value = diachi;
        document.getElementsByName("detail_email")[0].value = email;
        document.getElementsByName("detail_dienthoai")[0].value = dienthoai;
        document.getElementsByName("detail_phongban")[0].value = phongban;
    }

    // Function to close the detail modal
    function dongkhungct() {
        const khungct = document.getElementById("khungct");
        khungct.style.display = "none";
    }

    //function to show the update model
    function hienkhungcn(idnv, tennv, ngaysinh, gioitinh, diachi, email, dienthoai, chucvu, phongban) {
        const khungct = document.getElementById("khungcn");
        khungct.style.display = "block";

        // Check if gioitinh is a boolean or a string representation of boolean


        document.getElementsByName("idnv1")[0].value = idnv;
        document.getElementsByName("tennv1")[0].value = tennv;
        document.getElementsByName("ngaysinh1")[0].value = ngaysinh;
        document.getElementsByName("gioitinh1")[0].value = gioitinh;
        document.getElementsByName("diachi1")[0].value = diachi;
        document.getElementsByName("email1")[0].value = email;
        document.getElementsByName("dienthoai1")[0].value = dienthoai;
        document.getElementsByName("chucvu1")[0].value = chucvu;
        document.getElementsByName("phongban1")[0].value = phongban;
    }

    // Function to close the update modal
    function dongkhungcn() {
        const khungct = document.getElementById("khungcn");
        khungct.style.display = "none";
    }

    function hienkhungthem(idnv, tennv, ngaysinh, gioitinh, diachi, email, dienthoai, chucvu, phongban) {
        const khungct = document.getElementById("khungthem");
        khungct.style.display = "block";

    }

    // Function to close the update modal
    function dongkhungthem() {
        const khungct = document.getElementById("khungthem");
        khungct.style.display = "none";
    }
</script>
