@model doAnChuyenNghanh02.Models.TAIKHOANKHACHHANG
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_LayoutAll.cshtml";
}

@using (Html.BeginForm("UpdateKH", "TaiKhoanKH", FormMethod.Post)) 
{
    <div class="col-sm-6" style="margin-top: 10px; margin-left: 25%">

        <div class="panel panel-success">
            <div class="panel-heading"><h3 class="text-center">Thông tin tài khoản</h3></div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-sm-3">iD</label>
                    <div class="col-sm-8">
                        <input type="text" class=" form-control" value="@Model.IDTKKH" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Họ và tên</label>
                    <div class="col-sm-8">
                        <input type="text" class=" form-control" value="@Model.KHACHHANG.TENKH" name="tenkh" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Giới tính</label>
                    <div class="col-sm-8">
                        <input type="text" class=" form-control" value="@Model.KHACHHANG.GIOITINH" name="gioitinh" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Ngày sinh</label>
                    <div class="col-sm-8">
                        <input type="text" class=" form-control" type="datetime" value="@Model.KHACHHANG.NGAYSINH" name="ngaysinh" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Địa chỉ</label>
                    <div class="col-sm-8">
                        <input type="text" class=" form-control" value="@Model.KHACHHANG.DIACHI" name="diachi" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Điện thoại</label>
                    <div class="col-sm-8">
                        <input type="text" class=" form-control" value="@Model.KHACHHANG.DIENTHOAI" name="dienthoai" type="number" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Email</label>
                    <div class="col-sm-8">
                        <input type="text" class=" form-control" value="@Model.KHACHHANG.EMAIL" name="email" type="email" />
                    </div>
                </div>

            </div>
        </div>
        <button type="submit" style="float: right" class="btn btn-default">Lưu thông tin</button>




    </div>
}


